In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

u'/Users/Bradley/Documents/Programming/Fishbit/data_exploration_python'

In [3]:
ls

Untitled.ipynb  readings/

In [4]:
cd readings/
ls

SyntaxError: invalid syntax (<ipython-input-4-72b4af53a032>, line 1)

In [5]:
cd readings/

/Users/Bradley/Documents/Programming/Fishbit/data_exploration_python/readings

In [6]:
ls

26ecc3ee-b05a-46ee-86ad-9c5d0f39a8ae_combined_readings.csv
26ecc3ee-b05a-46ee-86ad-9c5d0f39a8ae_individual_readings.csv
8671e356-4aaa-4c1c-a3cf-208843bdd9bf_combined_readings.csv
8671e356-4aaa-4c1c-a3cf-208843bdd9bf_individual_readings.csv

In [7]:
pwd

u'/Users/Bradley/Documents/Programming/Fishbit/data_exploration_python/readings'

In [8]:
cd ..

/Users/Bradley/Documents/Programming/Fishbit/data_exploration_python

In [9]:
ls

Untitled.ipynb  readings/

In [12]:
df1 = pd.read_csv('readings/26ecc3ee-b05a-46ee-86ad-9c5d0f39a8ae_combined_readings.csv')

In [13]:
df1.head()

,id,readings_string,device_id,timestamp,created_at,updated_at
0,8acbf064-7dee-4e4b-854d-314620957d8b,"ph:14.00000,ec:9.76400,tds:5.26800,pss:0.00000...",30003a001247343330343136,2016-02-17 20:48:29.128000,2016-02-17 20:48:29.173268,2016-02-17 20:48:29.173268
1,363eb110-cbed-4db0-ba58-610cefef817c,"ph:8.08270,ec:55345.99609,tds:29886.83594,pss:...",30003a001247343330343136,2016-02-18 03:47:29.718000,2016-02-18 03:47:29.745948,2016-02-18 03:47:29.745948
2,4d89f4eb-c29d-42da-8ce7-6a7f518859b7,"ph:7.95320,ec:55353.71094,tds:29891.00391,pss:...",30003a001247343330343136,2016-02-18 07:29:43.258000,2016-02-18 07:29:43.293699,2016-02-18 07:29:43.293699
3,268da6f8-34bb-4498-9baf-79d6250b7c3b,"ph:7.92460,ec:55237.87891,tds:29828.45313,pss:...",30003a001247343330343136,2016-02-18 08:34:56.506000,2016-02-18 08:34:56.553440,2016-02-18 08:34:56.553440
4,656dadc8-a175-42e5-ad85-b6ac9f62a07c,"ph:8.06680,ec:55366.10156,tds:29897.69336,pss:...",30003a001247343330343136,2016-02-18 04:39:01.644000,2016-02-18 04:39:01.747155,2016-02-18 04:39:01.747155

In [14]:
df2 = pd.read_csv('readings/26ecc3ee-b05a-46ee-86ad-9c5d0f39a8ae_individual_readings.csv')

In [16]:
df2.head(20)

                     timestamp         name    value     min     max
0   2015-12-09 05:01:57.118000           pH   8.1600   8.100   8.400
1   2015-12-09 05:01:57.118000     Salinity   1.0317   1.023   1.027
2   2015-12-09 05:01:57.118000  Temperature  76.7800  72.000  78.000
3   2015-12-09 06:06:57.323000           pH   8.1200   8.100   8.400
4   2015-12-09 06:06:57.323000     Salinity   1.0317   1.023   1.027
5   2015-12-09 06:06:57.323000  Temperature  76.6500  72.000  78.000
6   2015-12-09 02:46:56.856000           pH   8.1900   8.100   8.400
7   2015-12-09 02:46:56.856000     Salinity   1.0313   1.023   1.027
8   2015-12-09 02:46:56.856000  Temperature  76.6600  72.000  78.000
9   2015-12-09 02:56:56.811000           pH   8.1900   8.100   8.400
10  2015-12-09 02:56:56.811000     Salinity   1.0317   1.023   1.027
11  2015-12-09 02:56:56.811000  Temperature  76.7800  72.000  78.000
12  2015-12-09 06:26:57.355000           pH   8.1200   8.100   8.400
13  2015-12-09 06:26:57.355000     Salinity   1.0317   1.023   1.027
14  2015-12-09 06:26:57.355000  Temperature  76.6600  72.000  78.000
15  2015-12-09 03:31:56.965000           pH   8.1900   8.100   8.400
16  2015-12-09 03:31:56.965000     Salinity   1.0317   1.023   1.027
17  2015-12-09 03:31:56.965000  Temperature  76.8900  72.000  78.000
18  2015-12-09 04:06:57.055000           pH   8.1800   8.100   8.400
19  2015-12-09 04:06:57.055000     Salinity   1.0317   1.023   1.027

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72972 entries, 0 to 72971
Data columns (total 5 columns):
timestamp    72972 non-null object
name         72972 non-null object
value        72972 non-null float64
min          72972 non-null float64
max          72972 non-null float64
dtypes: float64(3), object(2)
memory usage: 2.8+ MB

In [18]:
df2 = df2[:10]

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
timestamp    10 non-null object
name         10 non-null object
value        10 non-null float64
min          10 non-null float64
max          10 non-null float64
dtypes: float64(3), object(2)
memory usage: 472.0+ bytes

In [20]:
df2

                    timestamp         name    value     min     max
0  2015-12-09 05:01:57.118000           pH   8.1600   8.100   8.400
1  2015-12-09 05:01:57.118000     Salinity   1.0317   1.023   1.027
2  2015-12-09 05:01:57.118000  Temperature  76.7800  72.000  78.000
3  2015-12-09 06:06:57.323000           pH   8.1200   8.100   8.400
4  2015-12-09 06:06:57.323000     Salinity   1.0317   1.023   1.027
5  2015-12-09 06:06:57.323000  Temperature  76.6500  72.000  78.000
6  2015-12-09 02:46:56.856000           pH   8.1900   8.100   8.400
7  2015-12-09 02:46:56.856000     Salinity   1.0313   1.023   1.027
8  2015-12-09 02:46:56.856000  Temperature  76.6600  72.000  78.000
9  2015-12-09 02:56:56.811000           pH   8.1900   8.100   8.400

In [22]:
df2 = df2.pivot(index="timestamp", columns="name", values="value")

In [23]:
df2

name                        Salinity  Temperature    pH
timestamp
2015-12-09 02:46:56.856000    1.0313        76.66  8.19
2015-12-09 02:56:56.811000       NaN          NaN  8.19
2015-12-09 05:01:57.118000    1.0317        76.78  8.16
2015-12-09 06:06:57.323000    1.0317        76.65  8.12

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72972 entries, 0 to 72971
Data columns (total 5 columns):
timestamp    72972 non-null object
name         72972 non-null object
value        72972 non-null float64
min          72972 non-null float64
max          72972 non-null float64
dtypes: float64(3), object(2)
memory usage: 2.8+ MB

In [27]:
df2 = pd.read_csv('readings/26ecc3ee-b05a-46ee-86ad-9c5d0f39a8ae_individual_readings.csv')

In [29]:
df2 = df2.pivot(index="timestamp", columns="name", values="value")

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24324 entries, 2015-12-09 02:36:56.647000 to 2016-04-23 02:37:12.748000
Data columns (total 3 columns):
Salinity       24324 non-null float64
Temperature    24324 non-null float64
pH             24324 non-null float64
dtypes: float64(3)
memory usage: 760.1+ KB

In [31]:
df2.head()

name                        Salinity  Temperature    pH
timestamp
2015-12-09 02:36:56.647000    1.0308        76.55  8.19
2015-12-09 02:41:56.705000    1.0311        76.66  8.20
2015-12-09 02:46:56.856000    1.0313        76.66  8.19
2015-12-09 02:51:56.826000    1.0316        76.78  8.19
2015-12-09 02:56:56.811000    1.0317        76.78  8.19

In [32]:
df2.describe()

name       Salinity   Temperature            pH
count  24324.000000  24324.000000  24324.000000
mean       1.027705     76.318989      8.048218
std        0.003242      0.742483      0.117466
min        1.000300     71.510000      7.170000
25%        1.025000     75.990000      7.960000
50%        1.027800     76.390000      8.050000
75%        1.031200     76.750000      8.140000
max        1.031700     79.590000      8.320000

In [33]:
df2.reset_index(inplace=True)

In [34]:
df2.head()

name                   timestamp  Salinity  Temperature    pH
0     2015-12-09 02:36:56.647000    1.0308        76.55  8.19
1     2015-12-09 02:41:56.705000    1.0311        76.66  8.20
2     2015-12-09 02:46:56.856000    1.0313        76.66  8.19
3     2015-12-09 02:51:56.826000    1.0316        76.78  8.19
4     2015-12-09 02:56:56.811000    1.0317        76.78  8.19

In [36]:
df2.describe()

name       Salinity   Temperature            pH
count  24324.000000  24324.000000  24324.000000
mean       1.027705     76.318989      8.048218
std        0.003242      0.742483      0.117466
min        1.000300     71.510000      7.170000
25%        1.025000     75.990000      7.960000
50%        1.027800     76.390000      8.050000
75%        1.031200     76.750000      8.140000
max        1.031700     79.590000      8.320000

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24324 entries, 0 to 24323
Data columns (total 4 columns):
timestamp      24324 non-null object
Salinity       24324 non-null float64
Temperature    24324 non-null float64
pH             24324 non-null float64
dtypes: float64(3), object(1)
memory usage: 760.2+ KB

In [39]:
df2.iloc[0]

name
timestamp      2015-12-09 02:36:56.647000
Salinity                           1.0308
Temperature                         76.55
pH                                   8.19
Name: 0, dtype: object

In [40]:
dupes_by_time = df2[df2.duplicated('timestamp')]

In [41]:
dupes_by_time.count()

name
timestamp      0
Salinity       0
Temperature    0
pH             0
dtype: int64

In [43]:
pd.to_datetime(df2.timestamp, errors='raise')

0       2015-12-09 02:36:56.647
1       2015-12-09 02:41:56.705
2       2015-12-09 02:46:56.856
3       2015-12-09 02:51:56.826
4       2015-12-09 02:56:56.811
5       2015-12-09 03:01:56.749
6       2015-12-09 03:06:56.733
7       2015-12-09 03:11:56.896
8       2015-12-09 03:16:56.953
9       2015-12-09 03:21:56.870
10      2015-12-09 03:26:57.033
11      2015-12-09 03:31:56.965
12      2015-12-09 03:36:56.953
13      2015-12-09 03:41:58.443
14      2015-12-09 03:46:56.854
15      2015-12-09 03:51:56.920
16      2015-12-09 03:56:56.958
17      2015-12-09 04:01:56.896
18      2015-12-09 04:06:57.055
19      2015-12-09 04:11:57.250
20      2015-12-09 04:16:56.938
21      2015-12-09 04:21:56.969
22      2015-12-09 04:26:56.970
23      2015-12-09 04:31:57.033
24      2015-12-09 04:36:57.222
25      2015-12-09 04:41:57.047
26      2015-12-09 04:46:57.037
27      2015-12-09 04:51:57.064
28      2015-12-09 04:56:57.336
29      2015-12-09 05:01:57.118
                  ...
24294   2016-04-23 00:11:43.204
24295   2016-04-23 00:16:44.254
24296   2016-04-23 00:21:45.213
24297   2016-04-23 00:26:46.268
24298   2016-04-23 00:31:47.334
24299   2016-04-23 00:36:48.267
24300   2016-04-23 00:41:49.326
24301   2016-04-23 00:46:50.326
24302   2016-04-23 00:51:51.415
24303   2016-04-23 00:56:52.377
24304   2016-04-23 01:01:53.450
24305   2016-04-23 01:06:54.400
24306   2016-04-23 01:11:55.410
24307   2016-04-23 01:16:56.446
24308   2016-04-23 01:21:57.445
24309   2016-04-23 01:26:58.416
24310   2016-04-23 01:31:59.583
24311   2016-04-23 01:37:00.479
24312   2016-04-23 01:42:01.526
24313   2016-04-23 01:47:02.484
24314   2016-04-23 01:52:03.513
24315   2016-04-23 01:57:04.545
24316   2016-04-23 02:02:05.563
24317   2016-04-23 02:07:06.705
24318   2016-04-23 02:12:07.642
24319   2016-04-23 02:17:08.698
24320   2016-04-23 02:22:09.604
24321   2016-04-23 02:27:10.594
24322   2016-04-23 02:32:11.730
24323   2016-04-23 02:37:12.748
Name: timestamp, dtype: datetime64[ns]

In [44]:
df2.sort_values('timestamp')

name                    timestamp  Salinity  Temperature    pH
0      2015-12-09 02:36:56.647000    1.0308        76.55  8.19
1      2015-12-09 02:41:56.705000    1.0311        76.66  8.20
2      2015-12-09 02:46:56.856000    1.0313        76.66  8.19
3      2015-12-09 02:51:56.826000    1.0316        76.78  8.19
4      2015-12-09 02:56:56.811000    1.0317        76.78  8.19
5      2015-12-09 03:01:56.749000    1.0317        76.81  8.19
6      2015-12-09 03:06:56.733000    1.0317        76.88  8.19
7      2015-12-09 03:11:56.896000    1.0317        76.85  8.19
8      2015-12-09 03:16:56.953000    1.0317        76.88  8.19
9      2015-12-09 03:21:56.870000    1.0317        76.88  8.19
10     2015-12-09 03:26:57.033000    1.0317        76.89  8.19
11     2015-12-09 03:31:56.965000    1.0317        76.89  8.19
12     2015-12-09 03:36:56.953000    1.0317        76.89  8.19
13     2015-12-09 03:41:58.443000    1.0317        76.89  8.19
14     2015-12-09 03:46:56.854000    1.0317        76.89  8.19
15     2015-12-09 03:51:56.920000    1.0317        76.94  8.19
16     2015-12-09 03:56:56.958000    1.0317        76.89  8.18
17     2015-12-09 04:01:56.896000    1.0317        76.88  8.18
18     2015-12-09 04:06:57.055000    1.0317        76.89  8.18
19     2015-12-09 04:11:57.250000    1.0317        76.88  8.18
20     2015-12-09 04:16:56.938000    1.0317        76.84  8.18
21     2015-12-09 04:21:56.969000    1.0317        76.84  8.17
22     2015-12-09 04:26:56.970000    1.0317        76.84  8.17
23     2015-12-09 04:31:57.033000    1.0317        76.80  8.17
24     2015-12-09 04:36:57.222000    1.0317        76.87  8.16
25     2015-12-09 04:41:57.047000    1.0317        76.81  8.16
26     2015-12-09 04:46:57.037000    1.0317        76.79  8.16
27     2015-12-09 04:51:57.064000    1.0317        76.82  8.16
28     2015-12-09 04:56:57.336000    1.0317        76.78  8.16
29     2015-12-09 05:01:57.118000    1.0317        76.78  8.16
...                           ...       ...          ...   ...
24294  2016-04-23 00:11:43.204000    1.0234        76.10  8.16
24295  2016-04-23 00:16:44.254000    1.0234        76.10  8.16
24296  2016-04-23 00:21:45.213000    1.0234        76.10  8.16
24297  2016-04-23 00:26:46.268000    1.0234        76.10  8.16
24298  2016-04-23 00:31:47.334000    1.0234        76.10  8.16
24299  2016-04-23 00:36:48.267000    1.0234        76.10  8.16
24300  2016-04-23 00:41:49.326000    1.0234        76.10  8.16
24301  2016-04-23 00:46:50.326000    1.0234        76.10  8.16
24302  2016-04-23 00:51:51.415000    1.0234        76.10  8.16
24303  2016-04-23 00:56:52.377000    1.0234        76.10  8.16
24304  2016-04-23 01:01:53.450000    1.0235        76.09  8.16
24305  2016-04-23 01:06:54.400000    1.0235        76.10  8.16
24306  2016-04-23 01:11:55.410000    1.0235        76.07  8.16
24307  2016-04-23 01:16:56.446000    1.0235        76.06  8.16
24308  2016-04-23 01:21:57.445000    1.0235        76.06  8.16
24309  2016-04-23 01:26:58.416000    1.0235        76.07  8.16
24310  2016-04-23 01:31:59.583000    1.0235        76.02  8.15
24311  2016-04-23 01:37:00.479000    1.0235        76.02  8.15
24312  2016-04-23 01:42:01.526000    1.0235        75.99  8.15
24313  2016-04-23 01:47:02.484000    1.0235        76.00  8.14
24314  2016-04-23 01:52:03.513000    1.0235        75.99  8.14
24315  2016-04-23 01:57:04.545000    1.0235        75.99  8.13
24316  2016-04-23 02:02:05.563000    1.0235        75.99  8.13
24317  2016-04-23 02:07:06.705000    1.0235        75.97  8.13
24318  2016-04-23 02:12:07.642000    1.0235        75.99  8.12
24319  2016-04-23 02:17:08.698000    1.0235        75.97  8.12
24320  2016-04-23 02:22:09.604000    1.0235        75.98  8.11
24321  2016-04-23 02:27:10.594000    1.0235        75.90  8.11
24322  2016-04-23 02:32:11.730000    1.0234        75.90  8.11
24323  2016-04-23 02:37:12.748000    1.0234        75.89  8.10

[24324 rows x 4 columns]

In [45]:
pd.DatetimeIndex(df2.timestamp).year

array([2015, 2015, 2015, ..., 2016, 2016, 2016], dtype=int32)

In [46]:
df2.head()

name                   timestamp  Salinity  Temperature    pH
0     2015-12-09 02:36:56.647000    1.0308        76.55  8.19
1     2015-12-09 02:41:56.705000    1.0311        76.66  8.20
2     2015-12-09 02:46:56.856000    1.0313        76.66  8.19
3     2015-12-09 02:51:56.826000    1.0316        76.78  8.19
4     2015-12-09 02:56:56.811000    1.0317        76.78  8.19

In [47]:
df2.to_json('data/fishbit_data_cleaned.json', orient='records', date_format='iso')